*{
    margin: 0px;
}
:root{
    --black :#252525;
    --white:#b0b1ad; 
    --gray:#302f2f;
    --lightgray:#424040;
    --aqua:aqua;
    --pink:#E75480;
    --yellow:#FFE87C;
    --bg:#3d3d3d;
}
body
{
    background-color: var(--bg);
}
.m-1{
    margin: 0.5rem;
}
.m-2{
    margin: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.border{
    border-radius: 25px;
}.aqua{
    color: var(--aqua) !important; 
}
.pink{
    color:var(--pink) !important;
}
.main
{
    display: inline-block;
    width: 300px;
    height: 600px;
    background-color: var(--black);
    position: relative;
}
.mode{
    width: 140px;
    border-radius: 30px;
    height: 50px;
    margin: 10px 0px 10px 80px;
    display: inline-flex;
    position: absolute;
    color: white;
    background-color: var(--gray);
}
.mode #light{
    margin: 13px 0px 0px 30px;
    height: 25px; 
    width: 25px; 
    position: absolute; 
    border-radius: 50%;
    background-color:var(--black);
}
.mode #dark
{
    margin: 15px 0px 0px 90px;
    height: 20px; 
    width: 20px; 
    position: absolute; 
    box-shadow: -4px 2px 0px 3px  ; 
    border-radius: 50%
}

hr{  
    margin-left: 5%;
    width: 90%;
    border: 1px solid var(--white);
}
#pre{
    position: absolute;
    margin: -40px 10px 10px 10px;
    width: 275px;
    font-size: 30px;
    text-align: right;
    color: rgb(65, 65, 62);
}
#data
{
    width: 275px !important;
    height: 100px;
    margin: 30% 10px 10px 12px;
    font-size: 30px;
    color: var(--white);
    text-align: right;
}
#result
{
    position: absolute;
    width: 275px;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    text-align: right;
    color: var(--white);
}
#obt{
    display: none;
    /* transition: display 2s; */
}
.others{
    width: 30%;
    height: 5px;
    margin: 10px 50% 5px 35%;
    background-color: var(--white);

}
.buttons{
    position: absolute;
    bottom: 0;
    background-color: var(--gray);
    text-align: center;
    justify-content: center;
}
.flex{
    display: flex;
}
.button{
    margin: 5px 5px 8px 5px;
    width: 65px;
    padding: 12px 0px 12px 0px;
    box-shadow: 2px 2px var(--white);
    color: var(--white);
    background-color: var(--lightgray);
    border-radius: 10px;
    font-size: 25px;
}
.button:hover{
    color: var(--yellow);
    box-shadow: 2px 2px var(--aqua);
}


